.input-search {
  width: 100%;
}

.valid-search {
  width: 200px;
}


.web-site {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  border: 1px solid #ccc;
  height: 120px;

  span {
    width: 100%;
    text-align: right;
  }

  img {
    object-fit: contain;
  }

  &:hover {
    cursor: pointer;
    background-color: #f9f9f9;
    color: black;
  }

}
